*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
}
img{
    width: 50%;
    height: 50%;
}
b{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
}
/*About section*/
.NavButton {
    background-color: transparent;
    border: none;
    color: rgb(157, 157, 157);
    font-size: 16px;
    /*margin-top: 20px;*/
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.NavButtons{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    white-space: normal;
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    z-index: 999;
}
.NavButton:hover{
    text-decoration: underline;
}
.Logo{
    color: aqua;
    width: 100%;
    background-color: beige;
    align-items: center;
    justify-content: center;
}
/* First section */
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(125vh - 60px);
    background: linear-gradient(to bottom, #000000, #434343);
    /* background-image: ; */
    background-size: cover;
    /*background-position: center;*/
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    border-bottom: 4px solid rgb(59, 59, 59);
    width: 100%;
}
.title{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    "image"
    "title";
    position: relative;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-top: 2rem;
    max-width: 1150px;
    margin: auto;
}
.TitleBox {
    grid-area: title;
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 10px;
}
.titleIMG{
    margin: auto; 
    max-width: 12rem;
    max-height: 12rem;
    border: 3px solid rgb(3, 3, 3);
    border-radius: 50%;
    object-fit: cover;
}
.title1 {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}
.title2 {
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    color: grey;
}
.title3 {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
/* Second section */
.second{
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-areas:
    "about" "skills";
    background: linear-gradient(to bottom, #434343, #000000);
    height: 750px;
    border-bottom: 4px solid rgb(58, 58, 58);
    width: 100%;
}
.aboutBox{
    grid-area: about;
    background-color: rgb(99, 99, 99);
    width: auto;
    height: auto;
    padding: 3rem;
    margin: 4rem;
    border-radius: 1.5rem;
    border: 0.15rem solid #000000;
}
.skillsBox{
    grid-area: skills;
    background-color: rgb(99, 99, 99);
    width: auto;
    height: auto;
    padding: 3rem;
    margin: 4rem;
    border-radius: 1.5rem;
    border: 0.15rem solid #000000;
}
/* Third section */
.third{
    display: flex;
    width: 100%;
    align-items: center;
    height: fit-content;
    padding-bottom: 10rem;
    background: linear-gradient(to bottom, #000000, #434343);
    /* background-image: ; */
    background-size: cover;
    /*background-position: center;*/
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 4px solid rgb(0, 0, 0);
}
.project{
    
}
.projectTitle{
    color: #5f5f5f;
    font-size:  28px;
    margin: 5rem;
}
.footer{
    height: 12.5rem;
    background-color: #000000;
}
.projects{
    display: grid;
    
    background-color: gray;
    width: auto;
    height: auto;
    padding: 3rem;
    margin: 4rem;
}